body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .navbar {
    background-color: #ebe4e4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 10px;
  }

  
  .user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .user-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .username, span {
    color: black!important;
    margin-right: 10px;
  }
  
.btn-close {
    border: 0!important;
    background-color: transparent;
}

.modal-option {
    margin-right: 18px;
}

a {
    text-decoration: none!important;
    color: black!important;
}